@import '../../mixins';
@import '../../utilities/variables';

.profile-main {
  //margin-top: 200rem;
  max-width: 90vw;
  margin: auto;

  @include min-width-700 {
    max-width: 680px;
  }
}

.profile-main-action {
  //   display: flex;
  //   flex-direction: column;
  //   //min-width: $site-width;
  margin-top: 2rem;
}
