@import '../../utilities/variables';

// .profile-container {
//   display: flex;
//   flex-direction: column;
// }

.profile-container-action {
  display: flex;
  flex-direction: column;
  //min-width: $site-width;
  margin-top: 2rem;
}